aiohttp>=3.8.6
TGConvertor>=0.0.7
loguru>=0.7.2
pyuseragents>=1.0.5
Telethon>=1.32.1
Pyrogram>=2.0.106
aiosqlite>=0.17.0
better-proxy>=0.2.2
aiohttp-proxy>=0.1.2

pythonmonkey>=0.2.3
opentele>=1.15.1
aiofiles>=23.2.1
